<h1>Signup for 99Cats</h1>

<form action="/users" method="post">
  <label for='user_name'>Username: </label>
  <input id='user_name' name='user_name' type="text"></input>
  <label for="password">Password: </label>
  <input id="password" name='password' type="password"></input>
  <input type="submit" value="Sign Up">
</form>
